* {
  font-family:
    JetBrainsMono,
    Symbols Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

/*@define-color bg #1e1e2e;*/
@define-color bgnew #cba6f7;
@define-color bg #beabb0;
@define-color bg2 #181825;
@define-color bg3 rgba(24,24,37,1.0);
@define-color bg5 rgba(243, 139, 168,1.0);
@define-color bg4 rgba(0,0,0,0.2);
/*@define-color bg3 rgba(24,24,37,0.5);*/
@define-color fg #cdd6f4;
@define-color pink #f5c2e7;
@define-color green #a6e3a1;
@define-color fl #f2cdcd;
@define-color blue #89b4fa;
@define-color red #eba0ac;
@define-color vl #cba6f7;
@define-color yellow #fab387;

window#waybar {
  background-color: transparent;
  border-radius: 15px;
}

#custom-menu {
  padding: 5px 15px;
  margin: 5px 5px 5px 10px;
  color: @vl;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}
#custom-menu:hover {
  color: @fl;
}

#workspaces {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}
#custom-cputemp {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-cputemp:hover {
  color: @yellow;
}

#custom-recordfast {
  padding: 2px 15px;
  margin: 5px;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
  animation: blink 0.8s infinite alternate;
}

#custom-gputemp {
  padding: 2px 15px;
  margin: 5px 0px 5px 0px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-gputemp:hover {
  color: @yellow;
}

button {
  box-shadow: inset 0px -3px transparent;
  border: none;
  border-radius: 0px;
}
button:hover {
  background: inherit;
  box-shadow: inset 0px -3px transparent;
}
#workspaces button {
  padding: 0px 5px;
  background-color: transparent;
  color: @gf;
}
#workspaces button:hover {
  color: @yellow;
}
#workspaces button.focused {
}
#workspaces button.urgent {
}

#window {
  padding: 5px 15px 2px 15px;
  /* padding: 2px 15px; */
  margin: 5px;
  color: @yellow;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-fullscreen {
  background-color: @bg3;
  color: @bgnew;
  border-radius: 10px;
  margin: 5px;
  padding: 2px 10px;
  font-weight: bold;
}

#submap {
  background-color: @bg3;
  color: @bgnew;
  border-radius: 10px;
  margin: 5px;
  padding: 2px 10px;
  font-weight: bold;
}

#cpu {
  background-color: @bg3;
  color: @fg;
  border-radius: 10px;
  margin: 5px;
  padding: 2px 10px;
  font-weight: bold;
}

#memory {
  background-color: @bg3;
  color: @fg;
  border-radius: 10px;
  margin: 5px;
  padding: 2px 10px;
  font-weight: bold;
}

#custom-playerctl {
  padding: 2px 10px;
  background: @bg3;
  border-radius: 10px;
  margin: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  padding: 5px 10px 2px 10px;
  background: transparent;
  color: @bg2;
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
  font-style: normal;
}

#custom-weather {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-prayerbar {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-kitty {
  padding: 2px 10px 2px 15px;
  margin: 5px 0px 5px 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px 0px 0px 10px;
}
#custom-kitty:hover {
  color: @yellow;
}

#custom-nemo {
  padding: 2px 15px 2px 10px;
  margin: 5px 5px 5px 0px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}
#custom-nemo:hover {
  color: @yellow;
}

#tray {
  padding: 2px 15px;
  margin: 5px;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#language {
  padding: 2px 10px 2px 15px;
  margin: 5px 0px 5px 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

#custom-updates {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-caffeine {
  padding: 2px 20px 2px 13px;
  margin: 6px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-mail {
  padding: 2px 20px 2px 13px;
  margin: 6px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#bluetooth {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#language:hover {
  color: @yellow;
}

#pulseaudio {
  padding: 2px 15px 2px 10px;
  margin: 5px 5px 5px 0px;
  /* padding: 2px 15px; */
  /* margin: 5px; */
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}
#pulseaudio.muted {
  color: @red;
}
#pulseaudio:hover {
  color: @yellow;
}

#clock {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}
#clock:hover {
  color: @yellow;
}

#network {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#network:hover {
  color: @yellow;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#custom-power {
  padding: 2px 15px;
  margin: 5px 10px 5px 5px;
  color: @pink;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-power:hover {
  color: @red;
}

#custom-quit {
  padding: 2px 10px 0px 20px;
  margin: 5px 0px 5px 0px;
  color: @yellow;
  background-color: @bg3;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

#custom-lock {
  padding: 2px 10px 2px 10px;
  margin: 5px 0px 5px 0px;
  color: @blue;
  background-color: @bg3;
  border: none;
  border-radius: 0px 0px 0px 0px;
}

#custom-reboot {
  /* padding: 0px 15px; */
  padding: 2px 20px 1px 10px;
  margin: 5px 0px 5px 0px;
  color: @green;
  background-color: @bg3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

#disk {
  padding: 2px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-screen {
  padding: 5px 18px 5px 15px;
  margin: 5px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px;
}

#custom-screen:hover {
  color: @red;
}

#custom-snip {
  padding: 5px 8px 5px 13px;
  margin: 5px 0px 5px 0px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

#custom-snip:hover {
  color: @red;
}

#custom-picker {
  padding: 5px 16px 5px 13px;
  margin: 5px 0px 5px 0px;
  color: @fg;
  background-color: @bg3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

#custom-picker:hover {
  color: @red;
}
tooltip {
  background: @bg3;
  margin: 20px;
  padding: 15px;
  border: 20px solid rgba(100, 114, 125, 0);
  border-radius: 10px;
}
